<?xml version="1.0" encoding="utf-8"?>
<!-- Set your package name here -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="su.xash.xash3d.hscrewed"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="23"/>
    <!-- Set your application name here -->
    <application android:label="Half-Screwed Death and Rebirth"
		android:debuggable="false"
		android:icon="@drawable/logo_xash_hs">
    <!-- Set your launcher title here -->
        <activity android:name="su.xash.xash3d.LauncherActivity"
                  android:label="Half-Screwed Death and Rebirth"
			android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
